<div class="cnt-center">
	<div class="mod">
		<div class="logo left"><span>A</span>naëlle <span>&amp;</span> <span>M</span>axime</div>
		<nav class="right">
			<span class="icon icon-menu open-nav-js"></span>
			<ul>
				<li><a href="#section2">C'est où ?</a></li>
				<li><a href="#section3">Hébergement</a></li>
				<li><a href="#section3">Les convives</a></li>
				<li><a href="#section3">Premier projet</a></li>
				<li><a href="/logout" class="cUniv">Logout</a></li>
			</ul>
		</nav>
	</div>
</div>