<div class="cnt-center">
	<div class="mod">
		<div class="logo"><span>A</span>naëlle <span>&amp;</span> <span>M</span>axime</div>
		<nav id="mainNav">
			<ul>
				<li><a href="#section2">C'est où ?</a></li>
				<li><a href="#section3">Hébergement</a></li>
				<li><a href="#section4">Les convives</a></li>
				<li><a href="#section5">Projet voyage</a></li>
				<li class="deco"><a href="/logout" class="cUniv">Logout</a></li>
			</ul>
		</nav>
		<div class="hide-on-desktop icon icon-menu open-nav-js"></div>
	</div>
</div>