<div class="cnt-center">
	<div class="mod">
		<div class="logo"><span>A</span>naëlle <span>&amp;</span> <span>M</span>axime</div>
		<nav id="mainNav">
			<ul>
				<li><a href="#section2">The programme</a></li>
				<li><a href="#section3">Nos témoins</a></li>
				<li><a href="#section4">Projet voyage</a></li>
				<li><a href="#section5">RSVP</a></li>
				<li><a href="/logout" class="cUniv deco">Logout</a></li>
			</ul>
		</nav>
		<div class="hide-on-desktop icon icon-menu open-nav-js"></div>
	</div>
</div>