<div id="activationForm" class="mb3">
	<p class="mb1">
		<input type="radio" name="goingBottom" id="goingYesBottom" value="1"><label for="goingYesBottom">Je viens !</label>
	</p>
	<p class="mb1">
		<input type="radio" name="goingBottom" id="goingNoBottom" value="0"><label for="goingNoBottom">Je peux pas j'ai piscine !</label>
	</p>
</div>
<div class="hidden">
	<form id="registrationFormNo" action="/profile" method="post">
		<h3>Quel dommage ! On ne t'en veut pas, promis.</h3>
		<h4 class="mb2">Dis-nous juste qui tu es... et laisse-nous un petit message !</h4>
		<input type="hidden" name="imComing" id="imComingNo" value="0">
		<div class="field">
			<label for="nameIfNo" class="field-label">Nom</label>
			<input type="text" name="nameIfNo" id="nameIfNo" class="field-input">
		</div>

		<div class="field">
			<label for="emailIfNo" class="field-label">E-mail</label>
			<input type="email" name="emailIfNo" id="emailIfNo" class="field-input" email>
		</div>

		<div class="textarea">
			<p>Message</p>
			<textarea name="messageIfNo" id="messageIfNo" rows="10" class="custom-textarea"></textarea>
		</div>
		<div class="mod btn-area">
			<input type="submit" value="Envoyer" class="btn right">
		</div>
	</form>
</div>

<div class="hidden">
	<form id="registrationFormYes" action="/profile" method="post">
		<div id="form-track" class="mod">
			<fieldset class="current">
				<h3>Top ! Bienvenue parmi nous !</h3>
				<h4 class="mb2">Dis-nous-en plus, qui es-tu ?</h4>
				<input type="hidden" name="imComing" id="imComingYes" value="1">
				<div class="field">
					<label for="firstName" class="field-label">Prénom</label>
					<input type="text" name="firstName" id="firstName" class="field-input">
				</div>
				<div class="field">
					<label for="name" class="field-label">Nom</label>
					<input type="text" name="name" id="name" class="field-input">
				</div>
				<div class="field">
					<label for="email" class="field-label">E-mail</label>
					<input type="email" name="email" id="email" email class="field-input">
				</div>
				<div class="mb4">
					<input type="checkbox" name="vegetarian" id="vegetarian"><label for="vegetarian">Je ne mange pas les animaux</label>
				</div>
				<div class="mb2">
					Tu peux aussi enregistrer les personnes qui t'accompagnent, elles n'auront pas besoin de le faire de leur côté :
				</div>
				<div>
					<span class="btn add-guest-js">+ Ajouter une personne +</a>
				</div>
			</fieldset>
			<!-- Additional guests (max 5). Expected fields : Prénom, Nom, Je ne mange pas les animaux, Supprimer l'invité, Ajouter un autre invité -->
			<fieldset>
				<h3>Entre la mairie et le domaine de la Bézardière</h3>
				<h4 class="mb2">il y a quelques kilomètres...</h4>
				<div class="mb1">
					<input type="radio" name="transportation" id="transportationYes"><label for="transportationYes">Pas de soucis, j'ai une voiture / un camion / un camping-car / un vélo électrique</label>
				</div>
				<!-- Displays on selecting the previous radio button only -->
				<div class="mb1">
					Si quelqu'un à besoin d'être transporté, il me reste <input type="number" value="0" min="0" max="7" name="availableQuantity" id="availableQuantity"> place(s).
				</div>
				<div class="mb1">
					<input type="radio" name="transportation" id="transportationNo"><label for="transportationNo">Aïe, j'avais pas prévu ça, une bonne âme pour me / nous transporter ?</label>
				</div>
				<!-- Displays on selecting the previous radio button only -->
				<div class="mb1">
					J'ai besoin de <input type="number" value="1" min="1" max="6" name="availableQuantity" id="availableQuantity"> place(s).
				</div>
			</fieldset>
			<fieldset>
				<h3>Le soir, pour dormir</h3>
				<h4 class="mb2">Au cas où...</h4>
				<div class="mb1">
					<input type="radio" name="accomodation" id="accomodationRoots"><label for="accomodationRoots">Je plante ma tente (c'est rustique mais c'est gratuit !)</label>
				</div>
				<div class="mb1">
					<input type="radio" name="accomodation" id="accomodationRV"><label for="accomodationRV">J'ai mon camion / mon camping-car (il y a ce qu'il faut sur le domaine et c'est aussi gratuit !)</label>
				</div>
				<div class="mb1">
					<input type="radio" name="accomodation" id="accomodationOK"><label for="accomodationOK">J'ai déjà une chambre quelque part</label>
				</div>
				<div class="mb1">
					<input type="radio" name="accomodation" id="accomodationNone"><label for="accomodationNone">Je n'ai rien, je veux bien des adresses dans les environs (gîtes, hôtels, chambres d'hôtes...)</label>
				</div>
			</fieldset>
			<fieldset>
				<h3>Et le lendemain matin</h3>
				<h4 class="mb2">euh... midi ?</h4>
				<div class="mb1">
					<input type="radio" name="dayAfter" id="dayAfterYes"><label for="dayAfterYes">Je mange avec vous, il faut en profiter jusqu'au bout !</label>
				</div>
				<div class="mb2">
					<input type="radio" name="dayAfter" id="dayAfterNo"><label for="dayAfterNo">Je ne serai pas des vôtres, mangez ma part !</label>
				</div>
			</fieldset>
			<fieldset>	
				<h3>Quelque chose à ajouter ?</h3>
				<h4 class="mb2">C'est le moment...</h4>
				<div class="mb1 textarea">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="10" class="custom-textarea"></textarea>
				</div>
			</fieldset>
		</div>
		<div class="mod btn-area">
			<input type="button" value="précédent" class="btn prev-step left">
			<input type="button" value="suivant" class="btn next-step right">
			<input type="submit" value="envoyer" class="btn next-step right">
		</div>	
	</form>
</div>	