<p class="mb1">
	<input type="radio" name="goingBottom" id="goingYesBottom" value="1"><label for="goingYesBottom">Je viens !</label>
</p>
<p class="mb1">
	<input type="radio" name="goingBottom" id="goingNoBottom" value="0"><label for="goingNoBottom">Je peux pas j'ai piscine !</label>
</p>

<div class="hidden">
	<form action="/profile" method="post">
		<h3>Quel dommage ! On ne t'en veut pas, promis.</h3>
		<h4>Tu peux nous laisser un message si le coeur t'en dit...</h4>
		
		<div class="field">
			<label for="nameIfNo" class="field-label">Nom</label>
			<input type="text" name="nameIfNo" id="nameIfNo" class="field-input">
		</div>

		<div class="field">
			<label for="emailIfNo" class="field-label">E-mail</label>
			<input type="email" name="emailIfNo" id="emailIfNo" class="field-input" email>
		</div>

		<div class="field">
			<label for="messageIfNo" class="field-label">Message</label>
			<textarea name="messageIfNo" id="messageIfNo" rows="auto"></textarea>
		</div>
		<input type="submit" value="Envoyer" class="btn">
	</form>
</div>

<div class="hidden">
	<form action="/profile" method="post">
		<div class="form-track">
			<fieldset>
				<h3>Top ! Bienvenue parmi nous !</h3>
				<h4>Dis-nous-en plus, qui es-tu ?</h4>
				<p class="mb1">
					<label for="firstName">Prénom</label><input type="text" name="firstName" id="firstName">
				</p>
				<p class="mb1"
					<label for="name">Nom</label><input type="text" name="name" id="name">
				</p>
				<p class="mb1">
					<input type="checkbox" name="vegetarian" id="vegetarian"><label for="vegetarian">Je ne mange pas les animaux</label>
				</p>
				<p class="mb1">
					<label for="email">E-mail</label><input type="email" name="email" id="email" email>
				</p>
				<p class="mb1">
					Tu peux aussi enregistrer les personnes qui t'accompagnent, elles n'auront pas besoin de le faire de leur côté :
				</p>
				<p class="mb1">
					<a href="">+ Enregistrer une autre personne +</a>
				</p>
				<input type="button" value="next" class="btn next-step">
			</fieldset>
			<!-- Additional guests (max 5). Expected fields : Prénom, Nom, Je ne mange pas les animaux -->
			<fieldset>
				<h3>Entre la mairie et le domaine de la Bézardière</h3>
				<h4>il y a quelques kilomètres...</h4>
				<p class="mb1">
					<input type="radio" name="transportation" id="transportationYes"><label for="transportationYes">Pas de soucis, j'ai une voiture / un camion / un camping-car / un vélo électrique</label>
				</p>
				<!-- Displays on selecting the previous radio button only -->
				<p class="mb1">
					Si quelqu'un à besoin d'être transporté, il me reste <input type="number" value="0" min="0" max="7" name="availableQuantity" id="availableQuantity"> place(s).
				</p>
				<p class="mb1">
					<input type="radio" name="transportation" id="transportationNo"><label for="transportationNo">Aïe, j'avais pas prévu ça, une bonne âme pour me / nous transporter ?</label>
				</p>
				<!-- Displays on selecting the previous radio button only -->
				<p class="mb1">
					J'ai besoin de <input type="number" value="1" min="1" max="6" name="availableQuantity" id="availableQuantity"> place(s).
				</p>
				<input type="button" value="next" class="btn next-step">
			</fieldset>
			<fieldset>
				<h3>Le soir, pour dormir</h3>
				<h4>Au cas où...</h4>
				<p class="mb1">
					<input type="radio" name="accomodation" id="accomodationRoots"><label for="accomodationRoots">Je plante ma tente (c'est rustique mais c'est gratuit !)</label>
				</p>
				<p class="mb1">
					<input type="radio" name="accomodation" id="accomodationRV"><label for="accomodationRV">J'ai mon camion / mon camping-car (il y a ce qu'il faut sur le domaine et c'est aussi gratuit !)</label>
				</p>
				<p class="mb1">
					<input type="radio" name="accomodation" id="accomodationOK"><label for="accomodationOK">J'ai déjà une chambre quelque part</label>
				</p>
				<p class="mb1">
					<input type="radio" name="accomodation" id="accomodationNone"><label for="accomodationNone">Je n'ai rien, je veux bien des adresses dans les environs (gîtes, hôtels, chambres d'hôtes...)</label>
				</p>
				<input type="button" value="next" class="btn next-step">
			</fieldset>
			<fieldset>
				<h3>Et le lendemain matin</h3>
				<h4>euh... midi ?</h4>
				<p class="mb1">
					<input type="radio" name="dayAfter" id="dayAfterYes"><label for="dayAfterYes">Je mange avec vous, il faut en profiter jusqu'au bout !</label>
				</p>
				<p class="mb1">
					<input type="radio" name="dayAfter" id="dayAfterNo"><label for="dayAfterNo">Je ne serai pas des vôtres, mangez ma part !</label>
				</p>
				<hr>
				<h3>Quelque chose à ajouter ?</h3>
				<h4>C'est le moment...</h4>
				<p class="mb1">
					<label for="message">Message</label><input type="text" name="message" id="message">
				</p>
				<input type="submit" value="Envoyer" class="btn">
			</fieldset>
	</form>
</div>	