// Config file and project variables

// font sizes
$base-font-size : 14px; // if "14px" then 1rem = 14px
$line-height    : normal;
$h1-size        : 22px; 
$h2-size        : 18px; 
$h3-size        : 16px; 
$h4-size        : 14px; 
$h5-size        : 12px; 
$h6-size        : 12px;

// width size
$template-width:980px;

// project font
@font-face {
  font-family: 'century-gothic';
  src : url('fonts/GOTHIC.ttf')  format('truetype');
}
@font-face {
  font-family: 'century-gothic-bold';
  src : url('fonts/GOTHICB.ttf')  format('truetype');
}
@font-face {
  font-family: 'century-gothic-bold-italic';
  src : url('fonts/GOTHICBI.ttf')  format('truetype');
}
@font-face {
  font-family: 'century-gothic-italic';
  src : url('fonts/GOTHICI.ttf')  format('truetype');
}

@font-face {
  font-family: 'Amatic-Regular';
  src : url('fonts/AmaticSC-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Amatic-Bold';
  src : url('fonts/AmaticSC-Bold.ttf')  format('truetype');
}
@font-face {
  font-family: 'CRIALTRIAL';
  src : url('fonts/CRIALTRIAL.ttf')  format('truetype');
}
@font-face {
  font-family: 'CRBLATRIAL';
  src : url('fonts/CRBLATRIAL.ttf')  format('truetype');
}

// font stacks
$font-stack-common      : Helvetica, Arial, sans-serif; // common font 
$font-stack-secondary   : "CRIALTRIAL", Helvetica, sans-serif; // normal title
$font-stack-secondary-alt: "CRBLATRIAL", Helvetica, sans-serif; // normal title
$font-stack-tertiary	: "Amatic-Regular", Helvetica, sans-serif; // big title 
$font-stack-monospace 	: console;

// font colors
$base-color             : #2e2e2e; // text color on body and content
$primary-color          : #2fa3e0; // text color on primary elements
$secondary-color        : #006ba6; // text color on secondary elements
$third-color        	: #e1e1e1; // text color on secondary elements
$error-color			: #e55928;

// backgrounds
$base-background        : #fff; // body background color
$primary-background     : #ccc; // primary elements background color
$secondary-background   : #000; // secondary elements background color


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

