/* ----------------------------- */
/* == Wedding             */
/* ----------------------------- */

// LESS config file
// -----------------
@import "_config";

@import "_mixin"; // mixin

@import "_normalize"; // normalize

@import "_grid"; // bootstrap grid

@import "_base"; // reset and basic styles

@import "_forms"; // custom form */

@import "_ui"; // ui elements (popin, tooltip, etc)

/* ----------------------------- */
/* ==project styles              */
/* ----------------------------- */

// reset project
a, a:hover{
	text-decoration: none;
	color: $base-color;
}
a:hover, a:active, a:focus{
	color: $base-color;
}

ul, li{
    list-style-type: none;
    margin:0;
    padding:0;
  }


/* default color for example title */
.cUniv{
	color:$primary-color;
}

.custom-list{
	width:200px;
}

.hidden{
	display: none;
}

/* template mobile first */

section{
	background-color: #FFF;
	&.bgd{
		background-color: $primary-color;
		h2{
			color: #FFF;
		}
	}
	&.bgd-texture{
		position: relative;
		background: url(../img/bgd-handmadepaper.png) 0 0 repeat;
		&:before{
			content: "";
			background: url(../img/bgd-wave.png) 0 0 repeat-x;
			height: 13px;
			width: 100%;
			position: absolute;
			top: -13px;
			left: 0;
		}
		.separator-area{
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px dashed #e1e1e1;
		}
	}
}


/* btn */
.btn{
	@include border-radius(5px);
	padding: 10px;
	background-color: $primary-color;
	border: 0;
	color: #FFF;
	display: inline-block;
}


/* login page */

.full-bgd{
	position: fixed;
	width: 100%;
	height:100%;
	top: 0;
	left:0;
	background: url(../img/bgd-login.jpg) center center no-repeat;
	background-size: cover;
}

.fluid-box-center{
	h1{
		margin-bottom: 20px;
	}
	width: 380px;
	&.login{
		background: rgba(255, 255, 255, 0.9);
		padding: 20px;
		label{
			width: 100px;
		}
		label, input{
			display: inline-block;
			font-size: 16px;
		}
		p{
			margin-bottom: 10px;
			&:last-child{
				margin:0;
			}
		}
		.btn{
			margin-top:20px;
		}
	}
	
}

/* main layout */

header{
	background-color: #FFF;
	padding: 20px 0;
	@include box-shadow(1px 1px 5px 1px #737373);
	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 50;
		width: 100%;
	}
	.cnt-center{
		position: relative;
	}
	.logo{
		font-size: 30px;
		font-family: $font-stack-tertiary;
	}
	.icon{
		font-size: 20px;
		cursor: pointer;
		position: absolute;
		right: 20px;
		top: 0;
	}
	nav{
		padding: 20px 0 0 0;
		display: none;
		width: 100%;
		&.active{
			display: block;
		}
		li{
			font-family: $font-stack-tertiary;
			font-size: 16px;
			text-align: right;
			margin-bottom: 5px;
			a{
				@include transition(color .6s ease-in);
				&:hover{
					color: $primary-color;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	.hide-on-desktop{
		display: none;
	}
	header {
		.logo{
			float: left;
		}
		nav{
			display: block;
			padding: 0;
			float: right;
			width: 80%;
			text-align: right;
			margin-top: 5px;
			ul{
				li{
					display: inline-block;
					font-size: 25px;
					text-align: left;
					margin: 0;
					a{
						padding: 0 10px;
						border-right: 1px solid #e1e1e1;
					}
					&:last-child{
						a{
							border-right: none;
							padding-right: 0;
						}
					}
				}
			}
		}
	}
}


section{
	padding: 20px 0;
	h2{
		font-family: $font-stack-secondary;
		font-size: 40px;
		color: $primary-color;
		text-transform: uppercase;
		text-align: center;
	}
	h3{
		font-family: $font-stack-tertiary;
		font-size: 20px;
		color: $tertiary-color;
		margin-bottom:5px;
	}
	&.push-bride-groom{
		background:url(../img/bgd-first-2.jpg) fixed 0 0 no-repeat;
		background-size: cover;
		height: 526px;
		overflow: hidden;
		position: relative;
	}
	.wtf-area{
		padding-top:5%;
		text-align: left;
		text-transform: uppercase;
		.top, .bottom{
			color: #FFF;
			font-family: $font-stack-secondary;
			padding: 10px 0;
			text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
			text-align: center;
		}
		.top{
			
			font-size:50px;
		}
		.bottom{
			font-size:72px;
			text-transform: none;
		}
	}
	.going-area{
		padding-top: 40px;
		text-align: center;
		padding-left: 5%;
		p{
			margin-bottom:10px;
		}
		label{
			color: #FFF;
			font-size: 25px;
			font-family: $font-stack-tertiary;
			@include transform(rotate(-10deg));
			display: inline-block;
		}
	}
	&.prog{
		.icon{
			font-size: 20px;
			margin-right:5px;
		}
		color: $tertiary-color;
	}
	&.form{
		h3{
			font-family: $font-stack-tertiary;
			font-size: 25px;
			color: $primary-color;
			margin-bottom:5px;
		}
		h4{
			font-family: $font-stack-tertiary;
			font-size: 20px;
			color: $tertiary-color;
			margin-bottom:5px;
		}
		color: $tertiary-color;
		form{
			width: 100%;
			overflow-x: hidden;
			.form-track{
				@include transition(margin .5s ease-in);
				fieldset{
					float: left;
					border: none;
					width: 100%;
					margin: 0;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	section{
		padding: 40px 0;
		h2{
			font-size: 50px;
		}
		h3{
			font-size: 25px;
		}
		.wtf-area{
			.top, .bottom{
				padding: 20px 0;
				text-align: left;
			}
			.top{
				font-size: 60px;
			}
			.bottom{
				font-size:42px;
			}
		}
		.going-area{
			text-align: left;
		}
	}
}

