<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<!--
                                          Y\     /Y
                                          | \ _ / |
                    _____                 | =(_)= |
                ,-~"     "~-.           ,-~\/^ ^\/~-.
              ,^ ___     ___ ^.       ,^ ___     ___ ^.
             / .^   ^. .^   ^. \     / .^   ^. .^   ^. \
            Y  l    O! l    O!  Y   Y  lo    ! lo    !  Y
            l_ `.___.' `.___.' _[   l_ `.___.' `.___.' _[
            l^~"-------------"~^I   l^~"-------------"~^I
            !\,               ,/!   !                   !
             \ ~-.,_______,.-~ /     \                 /
              ^.             .^       ^.             .^    
                "-.._____.,-"           "-.._____.,-"

-->
<div class="main">
	<header>
		<% include partials/header %>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2WT94VJuArd44HUl0YUFFw5aXljPCHfg&callback=initMap" type="text/javascript"></script>
	</header>
	<% if (message.length > 0) { %>
	<div class="modal">
		<div class="popin">
			<div class="popin-cnt">
				<span class="icon icon-cross"></span>
				<h3><%= message %></h3>
			</div>
		</div>
	</div>	
	<% } %>
	<section id="section1" class="push-bride-groom">
		<div class="cnt-center">
			<div class="wtf-area">
				<div class="top">
					<span class="">Le 27 Août 2016...</span>
				</div>
				<div class="bottom">
					on se marie !!
				</div>
			</div>
			<div class="going-area">
					<p class="mb2">
						Je peux répondre par courrier ou via le formulaire d'inscription avant le 27/05/2016<br />
						<span class="goto-form-js">Accèder au formulaire d'inscription</span>
					</p>
			</div>
		</div>
	</section>
	<section class="bgd-texture prog" id="section2">
		<div class="cnt-center">
			<h2>The programme</h2>
			<div class="separator-area">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-library"></span>Mairie : 14h30</h3>
						<p class="mb1">Rendez-vous sous les tilleuls de la Mairie de Sainte-Radegonde (Tours nord)</p>
						<p><span class="btn" id="location1">Localiser sur le plan</span></p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-glass"></span>Apéro : 18h30</h3>
						<p class="mb1">Rendez-vous au domaine de la Bézardière pour un gros apéro !</p>
						<p><span class="btn" id="location2">Localiser sur le plan</span></p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-spoon-knife"></span>A table : 20h</h3>
						<p>Petite découverte de la gastronomie Tourangelle</p>
					</div>
					<div class="clear"></div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-music"></span>Fiesta : 23h</h3>
						<p>Boum boum</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-home"></span>Repos : ...h</h3>
						<p>Il faudra penser à aller se coucher</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-spoon-knife"></span> : 12h30</h3>
						<p>Petite collation après la fête avec beaucoup de café ;)</p>
					</div>
				</div>
			</div>
		</div>
		<div id="map"></div>
	</section>
	<section id="section3" class="bgd temoins">
		<div class="cnt-center">
			<h2>Nos témoins</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="badge inbl">
						
					</div>
					<div class="desc inbl">
						<h3>Axel Falguier</h3>
						<p>Lorem ipsum</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="inbl">
						<img src="img/anne-lise-l.png" width="300" height="300" alt="Anne-lise">
					</div>
					<div class="desc inbl">
						<h3>Anne-Lise Raby</h3>
						<p>Lorem ipsum</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="section4" class="bgd-texture">
		<div class="cnt-center travel">
			<h2>Projet voyage</h2>
		</div>
	</section>
	<section class="form" id="section5">
		<div class="cnt-center">
			<h2>RSVP</h2>
			<% include partials/registration-form %>
		</div>
	</section>
	<footer>
		<div class="cnt-center txtcenter">
			 ♥ Joli site conçu à quatre mains ♥ <br>
			 (bon, ok, surtout deux)<br>
			 &copy; MmA
		</div>
	</footer>
</div>
</body>
</html>
