<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="main">
	<header>
		<% include partials/header %>
	</header>
	<section id="section1" class="push-bride-groom">
		<div class="cnt-center">
			<div class="wtf-area">
				<div class="top">
					<span class="">Le 27 Août 2016...</span>
				</div>
				<div class="bottom">
					on se marie !!
				</div>
			</div>
			<div class="going-area">
				<form>
					<p>
						<input type="radio" name="going" id="goingYes"><label for="goingYes">Je viens !</label>
					</p>
					<p>
						<input type="radio" name="going" id="goingNo"><label for="goingNo">Je peux pas j'ai piscine !</label>
					</p>
				</form>
			</div>
		</div>
	</section>
	<section class="bgd-texture prog" id="section2">
		<div class="cnt-center">
			<h2>The programme</h2>
			<div class="separator-area">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-library"></span>Mairie : 14h30</h3>
						<p class="mb1">Rendez-vous sous les tilleuls de la Mairie de Sainte-Radegonde (Tours nord)</p>
						<p><span class="btn">Localiser sur le plan</span></p>
					</div>
					<!--<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-dice"></span>Animations : 16h00</h3>
						<p class="mb1">Rendez-vous au domaine de la Bézardière</p>
						<p class="mb1">725 Rue de la Bézardière, 37210 Noizay</p>
						<p><span class="btn">Localiser sur le plan</span></p>
					</div>-->
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-glass"></span>Apéro : 18h30</h3>
						<p class="mb1">Rendez-vous au domaine de la Bézardière pour un gros apéro !</p>
						<p><span class="btn">Localiser sur le plan</span></p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-spoon-knife"></span>A table : 20h</h3>
						<p>Petite découverte de la gastronomie Tourangelles</p>
					</div>
					<div class="clear"></div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-music"></span>Fiesta : 23h</h3>
						<p>Boum boum</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-home"></span>Repos : ...h</h3>
						<p>Il faudra penser à aller se coucher</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb2">
						<h3><span class="icon icon-spoon-knife"></span> : 12h30</h3>
						<p>Petite collation après la fête avec beaucoup de café ;)</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="section3">
		<div class="cnt-center">
			<h2>Hébergement</h2>
		</div>
	</section>
	<section id="section4">
		<div class="cnt-center">
			<h2>Les convives</h2>
		</div>
	</section>
	<section id="section5" class="bgd">
		<div class="cnt-center">
			<h2>Projet voyage</h2>
		</div>
	</section>
	<% include partials/registration-form %>
</div>
</body>
</html>
