<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="main">
	<header>
		<% include partials/header %>
	</header>
	<section id="section1" class="push-bride-groom">
		<div class="push-bride-groom">
				<div class="wtf-area">
					<div class="top">
						<span class="">Le 27 Août 2016</span>
					</div>
					<div class="bottom">
						On se marie !!
					</div>
				</div>
			</div>
		<div class="cnt-center">
			
		</div>
	</section>
</div>
</body>
</html>
