<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="main">
	<header>
		<% include partials/header %>
	</header>
	<section id="section1" class="push-bride-groom">
		<div class="cnt-center">
			<div class="wtf-area">
				<div class="top">
					<span class="">Le 27 Août 2016</span>
				</div>
				<div class="bottom">
					On se marie !!
				</div>
			</div>
			<div class="going-area">
				<form>
					<p>
						<input type="radio" name="going" id="goingYes"><label for="goingYes">Je viens !</label>
					</p>
					<p>
						<input type="radio" name="going" id="goingNo"><label for="goingNo">Je peux pas j'ai piscine !</label>
					</p>
				</form>
			</div>
		</div>
	</section>
	<section id="section2">
		<div class="cnt-center">
			C'est où ?
		</div>
	</section>
	<section id="section3" class="bgd">
		<div class="cnt-center">
			Hébergement
		</div>
	</section>
	<section id="section4">
		<div class="cnt-center">
			Les convives
		</div>
	</section>
	<section id="section5" class="bgd">
		<div class="cnt-center">
			Projet voyage
		</div>
	</section>
</div>
</body>
</html>
