<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
<div class="main">
	<header>
		<% include partials/header %>
	</header>
	<section id="section1" class="push-bride-groom">
		<div class="cnt-center">
			<div class="wtf-area">
				<div class="top">
					<span class="">Le 27 Aout 2016</span>
				</div>
				<div class="bottom">
					On se marie !!
				</div>
			</div>
			<div class="going-area">
				<form>
					<p>
						<input type="radio" name="going" id="goingYes"><label for="goingYes">Je viens !</label>
					</p>
					<p>
						<input type="radio" name="going" id="goingNo"><label for="goingNo">Je peux pas j'ai piscine !</label>
					</p>
				</form>
			</div>
		</div>
	</section>
	<section class="bgd-texture" id="section2">
		<div class="cnt-center">
			<h2>The programme</h2>
			<div class="separator-area">
				<h3>14h30. Mairie</h3>
			</div>
			

		</div>
	</section>
	<section id="section3">
		<div class="cnt-center">
			<h2>Hébergement</h2>
		</div>
	</section>
	<section id="section4">
		<div class="cnt-center">
			<h2>Les convives</h2>
		</div>
	</section>
	<section id="section5" class="bgd">
		<div class="cnt-center">
			<h2>Projet voyage</h2>
		</div>
	</section>
	<% include partials/registration-form %>
</div>
</body>
</html>
